*{
    margin:0px;

    border:border-box;

    font-family:Airal;
}

body{
    background-color: rgb(32,33,36);
}
.nav-bar{
    display: flex;
    
}
.nav-1{
    width:27%;

    height: 60px;

    display: flex;

    justify-content: start;

    align-items: center;

}
#nav_one{

    height: 46px;

    width:26px;

    margin:0px 5px 0px 15px;

    padding: 5px;

    
}
#nav_two{
    height: 46px;

    width:26px;

    margin:0px 5px ;

    padding:5px;
}
.nav-1 a{
    font-size:9px;
    color:#E8E8E8;
    text-decoration: none;
}
.nav-1 p:hover{
    text-decoration: underline;
    color: #E8E8E8;
}

/* Nav Two */
.nav-2{

    width:73%;

    height: 60px;

    display: flex;

    justify-content: end;

    align-items: center;

    gap:10px;
}
#nav-2-cont{
    height: 46px;

    width:26px;

    margin:0px 5px ;

    padding:5px;

}
.nav-2 a{
    font-size:9px;
    color:#E8E8E8;
    text-decoration: none;
}
.nav-2 p:hover{
    text-decoration: underline;
    color: #E8E8E8;
}
.icons{
    display: flex;

    align-items: center;
    gap: 12px;
}
.ico{

    height: 15px;

    width:15px; 

    padding: 5px;

    border-radius: 50%;

    margin-bottom: 35px;   

}
.ico:hover{
    transition: ease-in 0.5s ;
    background-color: rgb(40,48,50);
    border:0.4px slid transparent;
}
.icon-pict{
    text-align: center;
}
.icon-login{
    height: 23px;

    width: 23px;

    background-color: rgb(40,48,50);

    border-radius: 50%;

    margin-bottom: 30px;

    margin-right:10px;

    background-image: url(login-imag.webp);

    background-size: cover;
}

.icon-login:hover{
    box-shadow: 0 0 25px rgb(54,65,60);
}

/* Google image */

.google{
    height: 160px;

    width:100%;

    display: flex;

    justify-content: center;

    align-items: end;
}
/*.google_image{
    background-image: url(google_image_center.png);

    background-size: cover;

    height: 92px;

    width: 250px;
}*/
.google_image{
    height: 92px;

    width: 200px;

    font-size: 60px;

    font-weight: 700;

    color:#ffffff;

    font-family: 'Poppins', 'Montserrat', 'Open Sans', 'Lato', sans-serif;

}
/* Search bar */
.search{
    padding: 20px;

    padding-top: 0px;

    height: 80x;

    width:95%;

    display: flex;

    justify-content: center;

    align-items: start;

    gap:0px;
}
input{
    height: 28px;

    width:250px;

    background-color: #4D5156;

    border:transparent;

    box-shadow: 15px rgb(54,65,60);
}
#box{
    height: 30px;

    width:50px;

    background-color: #4D5156;
    display: flex;

    justify-content: center;

    align-items: center;

}
.glass{
    border-bottom-left-radius: 20px;

    border-top-left-radius: 20px;

}
.ai{
    border-bottom-right-radius: 20px;

    border-top-right-radius: 20px;


}
#ai_mode{
    height: 15px;

    width: 100%;

    border:2px solid #cccccc;

    border-radius:10px;

    margin-right: 10px;

    display: flex;

    align-items: center;
}
input:hover{
    background-color: grey;
}
#box:hover{
    background-color: grey;
}
.below{
    display: flex;

    justify-content: center;

    align-items: start;

    gap:20px;

    height: 40px;

    width: 95%;
}

#bel_bot:hover{

    border:1px solid #cccccc;

}
